input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.input {
  position: relative;

  &--error {
    .input__warning {
      opacity: 1;
      visibility: visible;
    }
  }

  &__field {
    width: 100%;

    border: 2px solid transparent;
    border-radius: 12px;
    outline: none;

    padding: 18px 32px;

    box-shadow: $input__bg;

    font-size: $font-interface-0;

    transition: 0.15s ease;

    @include breakpoint($breakpoint-tablet--large) {
      padding: 16px 24px;
      font-size: $font-interface-2;
    }

    &::placeholder {
      color: $input__placeholder;
    }

    &:hover:not(:focus) {
      @media (hover: hover) {
        border-color: $input--hover;
      }
    }
  }

  &__warning {
    position: absolute;
    top: 50%;
    right: 15px;

    transform: translateY(-50%);

    cursor: help;

    visibility: hidden;
    opacity: 0;

    transition: 0.15s ease;
  }
}
