// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  position: fixed;
  z-index: $z-index-header;
  top: 0;
  left: 0;
  width: 100%;

  transition: 0.15s ease;
}

.header-scroll {
  background-color: $palette-white;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.15);

  .link__icon path {
    fill: $palette-cyan;
  }

  .header__burger {
    circle,
    rect {
      fill: $palette-cyan;
    }

    .fix {
      stroke: $palette-cyan;
    }
  }
}

.header {
  display: flex;
  align-items: center;

  padding: 25px 0;

  @include breakpoint($breakpoint-tablet--large) {
    padding: 12px 0;
  }

  &__nav {
    @include breakpoint($breakpoint-tablet--large) {
      display: none;
    }
  }

  &__social {
    margin-left: auto;

    @include breakpoint($breakpoint-tablet--large) {
      margin-left: 0;
      margin-right: auto;
    }
  }

  &__mobile {
    display: none;

    @include breakpoint($breakpoint-tablet--large) {
      display: block;
    }
  }

  &__burger {
    rect,
    circle {
      transition: 0.15s ease;
    }
  }
}
