// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  position: fixed;
  z-index: $z-index-header;
  top: 0;
  left: 0;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;

  padding: 25px 0;

  &__nav {

  }

  &__social {
    margin-left: auto;
  }
}