// -----------------------------------------------------------------------------
// В этом файле прописываются все стили относящиеся к шапке сайта
// -----------------------------------------------------------------------------

#header {
  background-color: #979797;
}

.header {
  display: flex;
  align-items: center;

  &__nav {

  }

  &__social {
    margin-left: auto;
  }
}