.nav {
  &--header {
    position: relative;
    left: -20px;

    .nav__item {
      &:not(:last-child) {
        margin-right: 5px;
      }
    }
  }

  &--mobile {
    .nav__item {
      &:not(:last-child) {
        margin-bottom: 15px;
      }
    }

    .nav__link {
      font-size: $font-title-4;
      font-family: Geometria, sans-serif;
      color: $palette-white;
    }
  }

  &--inverted {
    .nav__link {
      color: $palette-white;
    }
  }

  &__list {
  }

  &__item {
    border: 2px solid transparent;
    border-radius: 12px;

    padding: 4px 16px 6px 16px;
    transition: 0.15s ease;

    cursor: pointer;

    &--active {
      border-color: $palette-cyan;

      .nav__link {
        color: $palette-cyan;
      }
    }

    &:hover:not(.nav__item--active) {
      @media (hover: hover) {
        .nav__link {
          color: $palette-yellow;
        }
      }
    }
  }

  &__link {
    font-size: $font-text-1;
    transition: 0.15s ease;

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-text-3;
    }
  }
}
