.page {
  &__title {
    font-size: $font-title-1;
    font-family: Geometria, sans-serif;

    &--main {
      font-size: $font-title-0;

      @include breakpoint($breakpoint-tablet--large) {
        font-size: $font-title-4;
      }
    }

    &--colored {
      color: $palette-cyan;
    }

    &--line {
      display: flex;
      align-items: center;

      &::before {
        content: "";
        display: block;

        width: 118px;
        height: 4px;

        margin-top: 5px;
        margin-right: 25px;

        background-color: $palette-cyan;
      }
    }
  }

  &__text {
    font-size: $font-text-0;
    line-height: 125%;

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-text-3;
      line-height: 150%;
    }
  }
}
