.modal-info {
  .modal__header {
    margin-bottom: 25px;
  }

  .modal__title {
    font-size: $font-title-4;
  }

  .modal__container {
    max-width: 360px;
    padding: 20px;

    @include breakpoint($breakpoint-tablet--large) {
      width: 95%;
    }
  }

  .modal__heading {
    margin-bottom: 10px;
  }
}
