// -----------------------------------------------------------------------------
// В этом файле стили типографии для всех элементов страницы
// -----------------------------------------------------------------------------

body {
  font-family: Aeroport, sans-serif;
}

p {
  font-size: $font-text-1;
  line-height: 125%;

  @include breakpoint($breakpoint-laptop) {
    font-size: $font-text-2;
  }

  @include breakpoint($breakpoint-tablet--large) {
    font-size: $font-text-3;
    line-height: 150%;
  }
}
