#map {
  @include breakpoint($breakpoint-tablet--large) {
    margin-top: -90px;
    padding-top: 90px;
  }
}

.about-map {
  &__item {
    border-radius: 12px;
    box-shadow: $shadow;
    overflow: hidden;

    @include breakpoint($breakpoint-tablet--large) {
      display: flex;
      flex-direction: column-reverse;

      border-radius: none;
      box-shadow: none;
    }

    &--1 {
      .about-map__tooltip {
        &:nth-child(1) {
          top: 40%;
          left: 39%;
        }

        &:nth-child(2) {
          top: 70%;
          left: 24%;
        }

        &:nth-child(3) {
          top: 72%;
          left: 49%;
        }

        &:nth-child(4) {
          top: 71%;
          left: 11%;
        }

        &:nth-child(5) {
          top: 84%;
          left: 41%;
        }
      }
    }
  }

  &__picture {
    position: relative;

    width: 100%;
    height: 610px;

    object-fit: cover;

    @include breakpoint($breakpoint-laptop) {
      height: 380px;
    }

    @include breakpoint($breakpoint-laptop and min-height 700px) {
      height: 450px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      border-radius: 12px;
      box-shadow: $shadow;
      height: 200px;
    }

    @include breakpoint($breakpoint-mobile--medium) {
      height: 170px;
    }

    @include breakpoint($breakpoint-mobile) {
      height: 130px;
    }
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;

    border-radius: 0 12px;
    background-color: $palette-white;

    padding: 12px 56px;

    color: $palette-cyan;

    @include breakpoint($breakpoint-tablet--large) {
      position: static;

      color: $text-black;
      margin-bottom: 15px;
      padding: 0;
      background-color: transparent;

      font-size: $font-title-4;
    }
  }

  &__next {
    position: absolute;
    right: 32px;
    bottom: 32px;

    color: $palette-white;
    text-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);

    font-size: $font-title-4;
    cursor: pointer;

    @include breakpoint($breakpoint-laptop--large) {
      right: 24px;
      bottom: 24px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      display: none;
    }
  }

  &__content {
    @include breakpoint($breakpoint-tablet--large) {
      display: none;
    }
  }

  &__tooltip {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    cursor: help;
  }
}
