#map {
  @include breakpoint($breakpoint-tablet--large) {
    margin-top: -90px;
    padding-top: 90px;
  }
}

.about-map {
  &__item {
    border-radius: 12px;
    box-shadow: $shadow;
    overflow: hidden;

    @include breakpoint($breakpoint-tablet--large) {
      display: flex;
      flex-direction: column-reverse;

      border-radius: none;
      box-shadow: none;
    }

    &--1 {
      .about-map__tooltip {
        &:nth-child(1) {
          top: 54%;
          left: 55%;

          display: none;
        }

        &:nth-child(2) {
          top: 54%;
          left: 55%;
        }

        &:nth-child(3) {
          top: 57%;
          left: 36%;
        }

        &:nth-child(4) {
          top: 63%;
          left: 18%;
        }

        &:nth-child(5) {
          top: 25%;
          left: 45%;
        }

        &:nth-child(6) {
          top: 32%;
          left: 58%;
        }

        &:nth-child(7) {
          top: 34%;
          left: 73%;
        }
      }
    }

    &--2 {
      .about-map__tooltip {
        &:nth-child(1) {
          top: 30%;
          left: 39%;
        }

        &:nth-child(2) {
          top: 55%;
          left: 49%;
        }

        &:nth-child(3) {
          top: 61%;
          left: 11%;
        }

        &:nth-child(4) {
          top: 74%;
          left: 41%;
        }

        &:nth-child(5) {
          top: 55%;
          left: 22%;
        }
      }
    }

    &--3 {
      .about-map__tooltip {
        &:nth-child(1) {
          top: 50%;
          left: 49%;
        }

        &:nth-child(2) {
          top: 42%;
          left: 18%;
        }

        &:nth-child(3) {
          top: 43%;
          left: 66%;
        }

        &:nth-child(4) {
          top: 80%;
          left: 63%;
        }

        &:nth-child(5) {
          top: 75%;
          left: 28%;
        }
      }
    }

    &--4 {
      .about-map__tooltip {
        &:nth-child(1) {
          top: 62%;
          left: 7%;
        }

        &:nth-child(2) {
          top: 46%;
          left: 5%;
        }

        &:nth-child(3) {
          top: 43%;
          left: 33%;
        }

        &:nth-child(4) {
          top: 27%;
          left: 59%;
        }
      }
    }

    &--5 {
      .about-map__tooltip {
        &:nth-child(1) {
          top: 40%;
          left: 17%;
        }

        &:nth-child(2) {
          top: 67%;
          left: 71%;
        }
      }
    }

    &--6 {
      .about-map__tooltip {
        &:nth-child(1) {
          top: 58%;
          left: 48%;
        }

        &:nth-child(2) {
          top: 56%;
          left: 89%;
        }

        &:nth-child(3) {
          top: 70%;
          left: 65%;
        }
      }
    }

    &--7 {
      .about-map__tooltip {
        &:nth-child(1) {
          top: 44%;
          left: 45%;
        }

        &:nth-child(2) {
          top: 42%;
          left: 75%;
        }

        &:nth-child(3) {
          top: 83%;
          left: 50%;
        }
      }
    }
  }

  &__picture {
    position: relative;

    width: 100%;
    height: 610px;

    object-fit: cover;
    object-position: bottom;

    @include breakpoint($breakpoint-laptop and min-height 500px) {
      height: 380px;
    }

    @include breakpoint($breakpoint-laptop and min-height 700px) {
      height: 420px;
    }

    @include breakpoint($breakpoint-laptop and min-height 800px) {
      height: 520px;
    }

    @include breakpoint($breakpoint-laptop and min-height 900px) {
      height: 600px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      border-radius: 12px;
      box-shadow: $shadow;
      height: 200px;
    }

    @include breakpoint($breakpoint-mobile--medium) {
      height: 170px;
    }

    @include breakpoint($breakpoint-mobile) {
      height: 130px;
    }
  }

  &__title {
    position: absolute;
    bottom: 0;
    left: 0;

    border-radius: 0 12px;
    background-color: $palette-white;

    padding: 12px 56px;

    color: $palette-cyan;

    @include breakpoint($breakpoint-tablet--large) {
      position: static;

      color: $text-black;
      margin-bottom: 15px;
      padding: 0;
      background-color: transparent;

      font-size: $font-title-4;
    }
  }

  &__prev,
  &__next {
    position: absolute;
    bottom: 32px;

    cursor: pointer;

    filter: drop-shadow(0 0 3px rgba(100, 0, 0, 0.5));

    @include breakpoint($breakpoint-tablet--large) {
      display: none;
    }

    @include breakpoint($breakpoint-laptop--large) {
      bottom: 24px;
    }
  }

  &__prev {
    right: 120px;

    transform: rotate(180deg);
  }

  &__next {
    right: 32px;
  }

  &__last {
    right: 32px;
  }

  &__content {
    @include breakpoint($breakpoint-tablet--large) {
      display: none;
    }
  }

  &__tooltip {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;

    cursor: help;
  }
}
