.about-plan {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__background {
    position: absolute;
    top: 52px;
    left: 0;

    width: 96px;

    @include breakpoint($breakpoint-laptop--large) {
      top: 25px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      display: none;
    }
  }

  &__image {
    margin-right: 100px;

    @include breakpoint($breakpoint-laptop--large) {
      display: none;
    }
  }

  &__wrapper {
    padding-left: 75px;
    width: 920px;

    @include breakpoint($breakpoint-laptop--large) {
      padding-left: 55px;
      width: 100%;
    }
  }

  &__container {
    display: flex;

    width: 100%;
    padding: 24px 0;

    cursor: pointer;

    @include breakpoint($breakpoint-tablet--large) {
      flex-direction: column;
      padding: 0;
    }

    &::after {
      content: "Подробнее";
      display: none;
      margin-top: 25px;

      color: $palette-cyan;

      @include breakpoint($breakpoint-tablet--large) {
        display: block;
      }
    }
  }

  &__item {
    position: relative;
    border-radius: 12px;

    box-shadow: $shadow;
    transition: 0.15s ease;

    &:not(:last-child) {
      margin-bottom: 48px;

      @include breakpoint($breakpoint-tablet--large) {
        margin-bottom: 80px;
      }
    }

    &:last-child {
      &::after {
        height: 110px;
      }
    }

    @include last(2) {
      .about-plan__content {
        top: initial;
        bottom: 72px;

        border-radius: 12px 12px 0 0;
      }
    }

    @include breakpoint($breakpoint-tablet--large) {
      background-color: transparent !important;
      box-shadow: none;
    }

    &::before {
      @include breakpoint($breakpoint-tablet--large) {
        content: "";
        position: absolute;
        top: -15px;
        left: -55px;

        display: block;
        width: 32px;
        height: 32px;

        border-radius: 50%;
        box-shadow: 0 4.74159px 12.6442px rgba(0, 0, 0, 0.15);
      }
    }

    &::after {
      @include breakpoint($breakpoint-tablet--large) {
        content: "";
        position: absolute;
        top: 0;
        left: -41px;

        display: block;
        width: 4px;
        height: 200px;

        box-shadow: 0 4.74159px 12.6442px rgba(0, 0, 0, 0.15);
      }
    }

    &--cyan {
      background-color: $palette-cyan;

      &::after,
      &::before {
        background-color: $palette-cyan;
      }
    }

    &--red {
      background-color: $palette-red;

      &::after,
      &::before {
        background-color: $palette-red;
      }
    }

    &--yellow {
      background-color: $palette-yellow;

      &::after,
      &::before {
        background-color: $palette-yellow;
      }
    }

    &--purple {
      background-color: $palette-purple;

      &::after,
      &::before {
        background-color: $palette-purple;
      }
    }

    &--active {
      border-radius: 12px 12px 0 12px;

      .about-plan__arrow {
        transform: rotate(90deg);
      }

      .about-plan__content {
        visibility: visible;
        opacity: 1;
      }

      @include last(2) {
        border-radius: 12px 0 12px 12px;

        .about-plan__arrow {
          transform: rotate(-90deg);
        }
      }
    }
  }

  &__date {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: -30px;

    border-radius: 12px;
    box-shadow: $shadow;

    background-color: $palette-white;
    color: $palette-cyan;

    padding: 12px 32px;

    font-size: $font-title-4;
    font-family: Geometria, sans-serif;
    font-weight: 700;

    white-space: nowrap;
    transform: translateY(-50%);

    @include breakpoint($breakpoint-tablet--large) {
      position: static;
      padding: 0;

      color: $text-black;
      font-size: $font-text-2;

      background-color: transparent;
      box-shadow: none;
    }
  }

  &__title {
    margin-left: 220px;
    color: $palette-white;

    @include breakpoint($breakpoint-tablet--large) {
      margin-left: 0;
      color: $text-black;

      font-size: $font-text-1;
    }
  }

  &__arrow {
    margin-left: auto;
    margin-right: 25px;

    transition: 0.15s ease;

    @include breakpoint($breakpoint-tablet--large) {
      display: none;
    }
  }

  &__content {
    position: absolute;
    z-index: 3;
    top: 72px;
    right: 0;

    width: 675px;
    padding: 32px;

    border-radius: 0 0 12px 12px;

    background-color: $palette-white;
    transition: 0.15s ease;

    box-shadow: $shadow;

    visibility: hidden;
    opacity: 0;
  }
}
