@import "about-project";
@import "about-plan";
@import "about-document";
@import "about-map";

#about {
  .section__header {
    @include breakpoint($breakpoint-laptop and max-height 680px) {
      margin-bottom: 25px;
    }
  }
}

.about {
  &__control {
    position: relative;

    width: 210px;
    margin-left: 48px;
    margin-right: auto;

    margin-top: 5px;


    padding: 0 40px;

    @include breakpoint($breakpoint-tablet--large) {
      display: none;
    }

    .swiper-button-next {
      right: 0;
    }

    .swiper-button-next,
    .swiper-button-prev {
      transform: scale(0.9);
    }
  }
}
