.tippy-box[data-theme~="freedom"] {
  z-index: 5;
  padding: 0;

  background-color: #ffffff;
  color: $text-black;
  border-radius: 12px;

  box-shadow: $shadow;

  font-size: $font-text-2;

  .tippy-content {
    padding: 16px;
  }

  .tippy-arrow {
    color: #ffffff;
  }
}
