.FAQ {
  &__title {
  }

  &__container {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      z-index: 100;
      bottom: 0;
      left: 0;

      display: none;
      width: 98%;
      height: 110px;
      background: linear-gradient(
        180deg,
        rgba(255, 255, 255, 0) -80.28%,
        rgba(255, 255, 255, 0.75) 70.15%
      );

      @include breakpoint($breakpoint-laptop--large) {
        display: block;
      }

      @include breakpoint($breakpoint-tablet--large) {
        display: none;
      }
    }
  }

  &__wrapper {
    @include breakpoint($breakpoint-laptop--large) {
      max-height: 500px;

      padding-right: 20px;
      padding-left: 20px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      max-height: initial;
    }

    .col-12:last-child {
      @include breakpoint($breakpoint-laptop--large) {
        padding-bottom: 50px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        padding-bottom: 0;
      }
    }
  }
}
