.FAQ-card {
  border-radius: 12px;

  padding: 32px;

  background-color: $palette-white;
  box-shadow: $shadow;

  &:not(:last-child) {
    margin-bottom: 25px;
  }

  @include breakpoint($breakpoint-laptop--large) {
    width: 48.5%;
  }

  @include breakpoint($breakpoint-tablet--large) {
    flex-shrink: 0;
    width: 100%;
  }

  &__title {
    margin-bottom: 12px;
    font-size: $font-title-4;
    font-family: Geometria, sans-serif;

    @include breakpoint($breakpoint-mobile--medium) {
      font-size: $font-text-1;
    }
  }

  &__description {
    @include breakpoint($breakpoint-laptop--large) {
      font-size: $font-text-2;
    }
  }
}
