// Цветовая палитра блоков
$palette-white: #ffffff;

$palette-red: #ff2727;
$palette-red--light: #ff3c4b;
$palette-red--dark: #e84354;

$palette-blue: #0db9cb;
$palette-blue--light: #bef4f1;

$palette-green: #cae35e;
$palette-purple: #a159d1;
$palette-pink: #fc9ab2;
$palette-grey: #c4c4c4;
$palette-yellow: #ffcb27;
$palette-cyan: #1e5b60;

// Цветовая палитра текста
$text-black: #0a0a19;
