#callback {
  .section__title {
    @include breakpoint(max-height 700px) {
      margin-bottom: 25px;
    }
  }
}

.callback {
  &__text {
    margin-bottom: 65px;

    @include breakpoint(max-height 700px) {
      margin-bottom: 45px;
    }
  }

  &__picture {
    position: relative;
    top: -30px;

    display: block;
    border-radius: 12px;
    overflow: hidden;

    box-shadow: $shadow;

    @include breakpoint($breakpoint-laptop--large) {
      top: 0;
    }
  }
}