.about-slider {
  @include breakpoint($breakpoint-tablet--large) {
    overflow: visible;
  }

  & > .swiper-wrapper {
    @include breakpoint($breakpoint-tablet--large) {
      flex-direction: column;
    }

    & > .swiper-slide:not(:last-child) {
      margin-bottom: 72px;
    }
  }
}
