.project-slider {
  .swiper-slide {
    @include breakpoint(max-height 865px) {
      height: 400px;

      border-radius: 12px;
      overflow: hidden;
    }

    @include breakpoint(max-height 800px) {
      height: 300px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      width: 85%;
      height: initial;
    }
  }
}

.project-thumb {
  .about-project__picture {
  }

  .swiper-slide-active {
    .about-project__picture {
      border: 3px solid $palette-cyan;
    }
  }
}
