.swiper {
  &-wrapper {
    @include breakpoint($breakpoint-tablet--large) {
      box-sizing: border-box;
    }
  }
  &-button {
    &-prev,
    &-next {
      transition: 0.15s ease;
    }

    &-prev {
      left: 0;

      &::after {
        content: url("../img/icons/control/slider__prev.svg");
      }
    }

    &-next {
      right: 15px;

      &::after {
        content: url("../img/icons/control/slider__next.svg");
      }
    }
  }
}
