#news {
  .news-slider .swiper-slide:first-child {
    display: none;

    @include breakpoint($breakpoint-tablet--large) {
      display: block;
    }
  }
}

#news-page {
  height: 100vh;

  background-image: url("../img/page/news/background.svg");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;

  @include breakpoint($breakpoint-laptop--large) {
    background-image: url("../img/page/news/background__v2.svg");
  }

  @include breakpoint($breakpoint-tablet--large) {
    background-size: 400px;
  }

  .swiper-wrapper {
    align-items: flex-start !important;

    @include breakpoint($breakpoint-tablet--large) {
      align-items: stretch !important;
    }
  }

  .swiper-slide {
    @include even() {
      margin-top: 50px;

      @include breakpoint($breakpoint-tablet--large) {
        margin-top: 0;
      }
    }
  }
}

.news {
  position: relative;

  &__header {
    margin-bottom: 20px;

    @include breakpoint($breakpoint-tablet--large) {
      flex-direction: column;
    }
  }

  &__advantages {
    display: flex;
    align-items: center;

    border: 3px solid $palette-grey;
    border-radius: 12px;

    padding-left: 24px;
    padding-right: 24px;

    @include breakpoint($breakpoint-laptop--large) {
      width: 460px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      width: initial;

      padding-left: 0;
      margin-right: auto;
      margin-top: 15px;

      border: none;
    }
  }

  &__advantage {
    display: flex;
    align-items: center;
    font-size: $font-text-1;

    @include breakpoint($breakpoint-laptop--large) {
      justify-content: center;
    }

    @include breakpoint($breakpoint-tablet--large) {
      justify-content: flex-start;
      font-size: $font-text-2;
    }
  }

  &__slider {
    position: relative;
  }

  &__more {
    display: block;
    margin-bottom: 12px;

    font-size: $font-text-2;
    color: $palette-cyan;
    text-align: right;
  }

  &__card {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
    box-shadow: $shadow;

    border-radius: 12px;
    overflow: hidden;

    @include breakpoint($breakpoint-laptop) {
      max-height: 400px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      max-height: initial;
    }

    &--big {
      @media screen and (max-height: 815px) {
        height: 400px;
      }

      @include breakpoint($breakpoint-tablet--large) {
        display: none;
      }

      @include breakpoint($breakpoint-laptop--medium and min-height 815px) {
        .news__picture {
          height: 380px;
        }

        .news__title {
          font-size: $font-title-4;
        }

        .news__description {
          margin-bottom: 30px;
          font-size: $font-text-3;
        }

        .news__link {
          font-size: $font-text-2;
        }

        .news__icon {
          width: 10px;
          height: 15px;
        }
      }
    }
  }

  &__wrapper {
    display: flex;
    flex-direction: column;

    height: 100%;
    padding: 12px 16px;

    background-color: $palette-white;
  }

  &__picture {
    width: 100%;
    height: 250px;
  }

  &__banner {
    position: relative;

    width: 100%;
    height: 150px;

    border-radius: 12px;
    overflow: hidden;

    box-shadow: $shadow;

    @include breakpoint($breakpoint-laptop) {
      display: none;
    }

    @media screen and (max-height: 815px) {
      display: none;
    }

    @media screen and (max-width: 1400px) and (min-height: 815px) {
      position: absolute;
      z-index: 2;
      bottom: -100px;
      left: 0;

      display: block;

      height: 100px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      position: relative;
      bottom: initial;
      left: initial;

      height: 200px;
    }
  }

  &__info {
    position: absolute;
    top: 50%;
    left: 0;

    background-color: $palette-cyan;
    padding: 16px 24px;

    color: $palette-white;

    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;

    font-size: $font-title-2;
    font-family: Geometria, sans-serif;

    transform: translateY(-50%);

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-title-3;

      br {
        display: none;
      }
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-title-4;
      border-radius: 0;
    }
  }

  &__image {
    width: 100%;
    height: 100%;

    object-fit: cover;
  }

  &__title {
    display: -webkit-box;

    margin-bottom: 7px;
    font-size: $font-title-5;
    font-family: Geometria, sans-serif;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__description {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;

    margin-bottom: 17px;
    font-size: $font-text-4;
  }

  &__action {
    display: flex;
    justify-content: space-between;

    margin-top: auto;
  }

  &__link {
    font-size: $font-text-4;
    color: $palette-cyan;
  }

  &__icon {
    width: 6px;
    height: 10px;
  }

  &__time {
    font-size: $font-text-4;
    font-weight: $weight-Medium;
    color: $palette-grey;
  }
}
