.contact {
  border-radius: 12px;
  background-color: $palette-cyan;

  @include breakpoint($breakpoint-tablet--large) {
    width: 100vw;
    margin-left: -12px;

    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }

  &__wrapper {
    padding: 48px;

    @include breakpoint($breakpoint-tablet--large) {
      padding: 32px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
  }

  &__link {
    font-size: $font-title-4;

    @include breakpoint($breakpoint-laptop--large) {
      font-size: $font-text-3;
    }

    &:not(:last-child) {
      margin-bottom: 35px;
    }
  }

  &__icon {
    margin-right: 15px;
  }

  &__partners {
    justify-content: center;
    margin-top: 45px;
    margin-bottom: -15px;
  }
}
