.link {
  transition: 0.15s ease;

  &--inverted {
    color: #ffffff;
  }

  &__icon path {
    fill: #000000;
    transition: 0.15s ease;
  }

  &__icon--inverted path {
    fill: #ffffff;
  }

  @media (hover: hover) {
    &:hover {
      color: $palette-yellow;

      .link__icon path {
        fill: #ffcb27;
      }
    }
  }
}
