.link {
  &__icon path {
    transition: 0.15s ease;
  }

  &__icon--inverted path {
    fill: #000000;
  }

  @media (hover: hover) {
    &:hover {
      color: $palette-yellow;

      .link__icon path {
        fill: #ffcb27;
      }
    }
  }
}
