.section {
  height: 100vh;

  @include breakpoint($breakpoint-tablet--large) {
    height: initial;
  }

  .container {
    padding-top: 125px;

    @media screen and (min-height: 910px) {
      padding-top: 165px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      padding-top: 95px;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-bottom: 65px;

    @include breakpoint($breakpoint-laptop) {
      margin-bottom: 25px;
    }

    @include breakpoint($breakpoint-tablet--large) {
      justify-content: center;
    }

    .section__title {
      margin-bottom: 0;
    }
  }

  &__title {
    display: flex;
    align-items: center;

    margin-bottom: 65px;

    font-size: $font-title-1;
    font-family: Geometria, sans-serif;

    color: $palette-cyan;

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-title-2;
    }

    @include breakpoint($breakpoint-tablet--large) {
      display: block;
      margin-bottom: 25px;

      text-align: center;
      font-size: $font-title-3;
    }

    &::before {
      content: "";
      display: block;

      width: 118px;
      height: 4px;

      margin-top: 5px;
      margin-right: 25px;

      background-color: $palette-cyan;

      @include breakpoint($breakpoint-tablet--large) {
        display: none;
      }
    }
  }

  &__text {
    font-size: $font-text-1;

    @include breakpoint($breakpoint-laptop) {
      font-size: $font-text-2;
    }

    @include breakpoint($breakpoint-tablet--large) {
      font-size: $font-text-3;
    }
  }
}
