$button__border: #ffcb27;
$button--hover: #ffcb27;

.button-outline {
  border: 3px solid $button__border;
  padding: 17px 64px;

  &:hover {
    @media (hover: hover) {
      background-color: $button--hover;
    }
  }
}
